syntax: glob
.vagrant
.sass-cache
.idea

modules
node_modules
bower_components

.env

public/wp
public/content/languages
public/content/plugins
public/content/uploads

*.sql
*.orig


syntax: regexp
^vendor$
